.DS_Store

outputs

# tmp directory
tmp/
*.egg-info/

# Python bytecode
*.pyc

# Logs
*.log

# Virtualenv
venv/

# Build
build/
dist/
__pycache__/

# IDE
.vscode/
.idea/

# Scripts
*.ipynb
sandbox/

# eval
eval/

cache
datasets

toy.py
parallel_directories
backup
backups